name: ci simple

on:
  push:
    branches:
      - main

permissions:
  packages: write

jobs:
  build-a:
    uses: AlexRozaLopes/my-actions-reusable/.github/workflows/build-and-create-docker-image-java.yml@main
    permissions: write-all
    with:
      DOCKER_IMAGE_NAME: microservice-a
      DOCKER_FILE_PATH: microservice-a/docker
      APPLICATION_PATH: microservice-a

  build-b:
    uses: AlexRozaLopes/my-actions-reusable/.github/workflows/build-and-create-docker-image-java.yml@main
    permissions: write-all
    with:
      DOCKER_IMAGE_NAME: microservice-b
      DOCKER_FILE_PATH: microservice-b/docker
      APPLICATION_PATH: microservice-b

  build-service-discovery:
    uses: AlexRozaLopes/my-actions-reusable/.github/workflows/build-and-create-docker-image-java.yml@main
    permissions: write-all
    with:
      DOCKER_IMAGE_NAME: service-discovery
      DOCKER_FILE_PATH: service-discovery/docker
      APPLICATION_PATH: service-discovery
