name: ci simple

on:
  push:
    branches:
      - main

permissions:
  packages: write

env:
  DOCKER_USER: ${{ github.repository_owner }}

jobs:
  build-a:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        run: mvn -B package --file microservice-a/pom.xml

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Docker image
        run: |
          DOCKER_USER_LOWER=${DOCKER_USER,,}
          echo "Docker user lower: $DOCKER_USER_LOWER"
          
          docker build -t ghcr.io/$DOCKER_USER_LOWER/microservice-a:latest -f microservice-a/docker/Dockerfile microservice-a/
          
          docker push ghcr.io/$DOCKER_USER_LOWER/microservice-a:latest

  build-b:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        run: mvn -B package --file microservice-b/pom.xml

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Docker image
        run: |
          DOCKER_USER_LOWER=${DOCKER_USER,,}
          echo "Docker user lower: $DOCKER_USER_LOWER"
          
          docker build -t ghcr.io/$DOCKER_USER_LOWER/microservice-b:latest -f microservice-b/docker/Dockerfile microservice-b/
          
          docker push ghcr.io/$DOCKER_USER_LOWER/microservice-b:latest

  build-service-discovery:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        run: mvn -B package --file service-discovery/pom.xml

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Docker image
        run: |
          DOCKER_USER_LOWER=${DOCKER_USER,,}
          echo "Docker user lower: $DOCKER_USER_LOWER"

          docker build -t ghcr.io/$DOCKER_USER_LOWER/service-discovery:latest -f service-discovery/docker/Dockerfile service-discovery/

          docker push ghcr.io/$DOCKER_USER_LOWER/service-discovery:latest
